@import "src/styles";
.stops_card {
  padding: 0;
  margin-right: $margin-20;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 232px;
  height: 252px;
  background-color: white;
  border-radius: 5px;
}

.stops_card_header {
  padding: $margin-20 0 $margin-10 $margin-20;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.checks_wrapper {
  div {
    display: flex;
    align-items: center;
    padding: $margin-10 0 $margin-10 $margin-20;
    font-size: $font-size-10;
    label {
      padding-left: $margin-10;
      font-size: 13px;
      letter-spacing: 0;
    }
    input:hover {
      cursor: pointer;
     }
  }
  div:hover {
    background-color: #d0dff5;
  }
}

input {
   height: 20px;
   width: 20px;
   margin: 0;
 }

@media (max-width: $small-width) {
  .stops_card {
    margin: 0;
  }
}
