<mat-card class="card" (click)="fn(ticket)">
  <mat-card-content>
    <div class="header">
          <p>{{ticket.price}}</p>
          <p>Aviasales logo</p>
    </div>
    <div class="direction">
      <div>
        <p>{{ticket.segments[0].origin + ' - ' + ticket.segments[0].destination}}</p>
        <p>{{ticket.departureTimeTo}} - {{ticket.arrivalTimeTo}}</p>
      </div>
      <div>
        <p>В ПУТИ</p>
        <p>{{ticket.flightLengthTo}}</p>
      </div>
      <div>
        <p>{{ticket.segments[0].stops.length | stops}}</p>
        <p>{{ticket.segments[0].stops.join(', ')}}</p>
      </div>
    </div>
    <div class="direction">
      <div>
        <p>{{ticket.segments[1].origin + ' - ' + ticket.segments[1].destination}}</p>
        <p>{{ticket.departureTimeFrom}} - {{ticket.arrivalTimeFrom}}</p>
      </div>
      <div>
        <p>В ПУТИ</p>
        <p>{{ticket.flightLengthFrom}}</p>
      </div>
      <div>
        <p>{{ticket.segments[1].stops.length | stops}}</p>
        <p>{{ticket.segments[1].stops.join(', ')}}</p>
      </div>
    </div>


  </mat-card-content>
</mat-card>
