<div class="card">
  <div class="card_content">
    <div class="header">
          <div class="price">{{ticket.price | price}}</div>
          <img class="logo" src="assets/S7_new_logo.svg.png" alt="companyLogo">
    </div>
    <div class="card-info-wrapper">
      <div class="direction">
        <div class="direction-cell">
          <div class="direction_head">{{ticket.segments[0].origin + ' - ' + ticket.segments[0].destination}}</div>
          <div class="direction_info">{{ticket.departureTimeTo}} - {{ticket.arrivalTimeTo}}</div>
        </div>
        <div class="direction-cell">
          <div class="direction_head">В ПУТИ</div>
          <div class="direction_info">{{ticket.flightLengthTo}}</div>
        </div>
        <div class="direction-cell">
          <div class="direction_head">{{ticket.segments[0].stops.length | stops}}</div>
          <div class="direction_info">{{ticket.segments[0].stops.join(', ')}}</div>
        </div>
      </div>
      <div class="direction">
        <div class="direction-cell">
          <div class="direction_head">{{ticket.segments[1].origin + ' - ' + ticket.segments[1].destination}}</div>
          <div class="direction_info">{{ticket.departureTimeFrom}} - {{ticket.arrivalTimeFrom}}</div>
        </div>
        <div class="direction-cell">
          <div class="direction_head">В ПУТИ</div>
          <div class="direction_info">{{ticket.flightLengthFrom}}</div>
        </div>
        <div class="direction-cell">
          <div class="direction_head">{{ticket.segments[1].stops.length | stops}}</div>
          <div class="direction_info">{{ticket.segments[1].stops.join(', ')}}</div>
        </div>
      </div>
    </div>

  </div>
</div>
