@import "./src/styles";

.card {
  margin: 2rem 0.3rem;
  width: 600px;
  box-shadow: $box-shadow;
}

.header {
  display: flex;
  justify-content: space-around;
}

.direction {
  display: flex;
  justify-content: space-between;
  font-family: $font-family;
  font-weight: bold;

  div {
    margin: 1rem;
  }

  .direction_head {
    color: darkgrey;
  }
}



