


<div>
  <div class="logo_wrapper">
    <img class="app_main_logo" src="assets/png-transparent-social-media-linkedin-business-organization-company-plane-angle-company-logo-removebg-preview.png" alt="logo">
  </div>
  <div class="content_wrapper">
    <div class="left">
      <app-stops-count-filter (stopsNumber)="handleStopsNumber($event)"></app-stops-count-filter>
    </div>
    <div class="right">
      <app-filter-bar [stopsNumber]="stopsNumber"></app-filter-bar>
    </div>
  </div>
</div>
