/* You can add global styles to this file, and also import other style files */
$box-shadow: 4px 4px 8px 1px rgba(34, 60, 80, 0.2);
$font-family: 'Roboto Condensed', sans-serif;
$blue: #328bf3;
$medium-width: 1300px;
$small-width: 640px;

body {
  padding: 0;
  margin: 0;
  background-color: #ebf3fc;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
